<%-include('header');-%>

<h1>Your Details, <%= clients[0].contact %></h1>
<p>Contact:  <%= clients[0].contact %></p>
<p>Society:  <%= clients[0].society %></p>
<p>Address:  <%= clients[0].addres %></p>
<p>Zipcode:  <%= clients[0].zipcode %></p>
<p>City:  <%= clients[0].city %></p>
<p>Phone  <%= clients[0].phone %></p>
<p>Fax:  <%= clients[0].fax %></p>
<p>Confirmation:  <%= clients[0].confirmation %></p>
<p>Payment:  <%= clients[0].payment %></p>
<p>Informations:  <%= clients[0].Informations %></p>
<p>Max Outstanding:  <%= clients[0].max_outstanding %></p>
<br>
<%-include('footer');-%>